
<div class="alert alert-warning form-container pl-4 pr-4">
  There are more dimensions in this brick than there are in the plot that you are trying to create. Please
  specify constraints for the following values to narrow down the number of dimensions for your plot.
</div>
<div class="form-container">
  <div class="card">
    <div class="card-header light-blue">
      Add Contstraints
    </div>
    <div class="card-body">
      <app-plot-constraint-item *ngFor="let item of unselectedValues" [item]="item" [index]="getIndex(item)"></app-plot-constraint-item>
    </div>
  </div>
</div>