<div class="row mb-2">
  <div class="col-12">
    <div class="row">
      <div class="col-4">
        <strong>{{title}} ({{data.size}})</strong>
      </div>
      <div class="col-2">Filter Type: </div>
      <div class="col-6">
        <select2
          [data]="filterOptions"
          [cssImport]="true"
          [options]="options"
          (valueChanged)="setFilterType($event)"
        ></select2>
      </div>
    </div>
    <div class="row mt-2" *ngIf="filterType === 'custom_idx'">
      <div class="col-6">
        Dimension index to constrain (0 - {{data.size - 1}}):
      </div>
      <div class='col-6'>
        <input
          class="form-control"
          type="text"
          (focusout)="setCustomIndex()"
          [(ngModel)]="customIndexValue"
          [ngModelOptions]="{standalone: true}"
        />
      </div>
    </div>
    <div class="row mt-2" [hidden]="filterType !== 'custom_val'">
      <div class="col-12">
        <table class="table table-bordered" #table>
          <thead class="table-header">
            <tr>
              <th *ngFor="let dimVar of data.typed_values">
                {{dimVar.value_type.oterm_name}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let _ of [].constructor(data.size); let i = index;"
              (click)="setCustomValueIndex(i)"
              [class.selected]="selectedDataTableIndex === i"
              >
              <td *ngFor ="let item of data.typed_values;">
                {{item.values.values[i]}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<hr />
